# Virtual environments
.venv/
venv/
env/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases (SQLite)
*.db
*.db-journal
*.db-wal

# OS metadata
.DS_Store
Thumbs.db

# Next.js build and cache
Raya/frontend/.next/
Raya/frontend/node_modules/
Raya/frontend/out/
Raya/frontend/build/

# ONNX Models
*.onnx
